/* K.R. 2023 */
html {
    box-sizing: border-box;
    background-color: #1C1B1B;
}

.body {
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    background-color: #e0e0e0;
}


/* ------------------------------------------------------------------------------------- */
.header {
    background-color: #1C1B1B;
    padding: 0 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.header__logo {
    text-align: left;
    width: 100%;
    flex-basis: 50%;
}
@media screen and (min-width: 1024px) {
    .header__logo {
      flex-basis: 18%;
    }
}
.header__img {
    margin-top: 5px;
    max-width: 90px;
}
.header__check {
    position: absolute;
    left: -9999px;
}
.header__check:checked ~ .header__menu {
    display: block;
}
.header__toggler {
    color: white;
    font-size: 20px;
    text-align: right;
    width: 120px;
    flex-basis: 30%;
}
@media screen and (min-width: 1024px) {
    .header__toggler {
        display: none;
    }
}
.header__menu {
    display: none;
    padding: 0;
    margin: 0;
    flex-basis: 100%;
}
@media screen and (min-width: 1024px) {
    .header__menu {
      display: flex !important;
      flex-basis: 80%;
      justify-content: flex-end;
      align-items: center;
    }
}
.header__list {
    list-style: none;
    text-align: center;
}
.header__link {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: white;
    font-size: 20px;
    border-bottom: 1px solid #423C3C;
}
@media screen and (min-width: 1024px) {
    .header__link {
      border-bottom: none;
    }
}
.header__link:hover, .header__link:focus {
    background-color: #b37778;
    color: white;
}

.footer {
    background-color: #1C1B1B;
    color: white;
    text-align: center;
    padding: 20px;
}
.footer__text {
    margin: 0;
    padding: 5px;
}


/* ------------------------------------------------------------------------------------- */
.top {
    padding: 20px 20px 10px 20px;
    color:#525151;   
}
.top__title {
    margin: 0;
    text-transform: uppercase;
    font-size: 28px;
    font-weight: bold;
}
.top__text {
    font-size: 18px;
}

.oNas,
.kurzy,
.galerie,
.kontakt {
  max-width: 1240px;
  margin: 0 auto;
  padding-bottom: 20px;
}


/* ------------------------------------------------------------------------------------- */
.oNas__container {
    margin: 20px;
    display:grid;
    grid-template-columns: 1fr;
    column-gap: 30px;
    row-gap: 30px;
}
.oNas__item {
    display:block;
    border: 1px solid #C7C1C1;
    text-align: left; 
    height:180px;
    padding: 10px;  
}
.oNas__imgL {  
    width: 18%;
    min-width: 120px;
    float:left;
    padding: 10px;
 
}
.oNas__imgR {  
    width: 18%;
    min-width: 120px;
    float:right;
    padding: 10px;
}
.oNas__container div:nth-of-type(1) {
    order: 1;
}
.oNas__container div:nth-of-type(2) {
    order: 3;
}
.oNas__container div:nth-of-type(3) {
    order: 2;
}
.oNas__container div:nth-of-type(4) {
    order: 4;
}


/* ------------------------------------------------------------------------------------- */
.kurzy__container {
    margin: 20px;
    display:grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    column-gap: 30px;
    row-gap: 30px;
}
.kurzy__item {
    display:block;
    border: 1px solid #C7C1C1;
    text-align: left; 
    padding: 10px; 
    position: relative; 
}
.kurzy__item h3 {
    margin-top: 50px;
}
.kurzy__img {  
    height: 150px;
    padding: 10px;
    padding-right: 50px;
    position: absolute;
    top: 0;
    left: 0;
}
.kurzy__order {
    font-weight: bold;
    margin: 10px 10px 20px 180px;
}
.kurzy__button {
    margin-top: 5px;
    margin-bottom: 20px;
    margin-left: 180px;
    padding: 10px 20px;
    background-color: #b37778;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
}
.kurzy__button:hover {
    background-color: #774344;
}


/* ------------------------------------------------------------------------------------- */
.galerie {
    max-width: 1240px;
    margin: 0 auto;
    padding-bottom: 20px;
} 
.galerie__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3px;
}  
.galerie__foto img {
    width: 100%;
    height: 100%;
    object-fit: cover;
 }
.galerie__foto--bigA {
    grid-column: span 2;
    grid-row: span 2;
}
.galerie__foto--bigB {
    grid-column: span 1;
    grid-row: span 1;
}


/* ------------------------------------------------------------------------------------- */
.kontakt__map {
    background-color: #e5e3df;
}   


/* ------------------------------------------------------------------------------------- */
@media print, (min-width: 1024px) {

    .oNas__container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 30px;
        row-gap: 30px;
    }   
    .oNas__container div:nth-of-type(1) {
        order: 1;
    }
    .oNas__container div:nth-of-type(2) {
        order: 2;
    }
    .oNas__container div:nth-of-type(3) {
        order: 3;
    }
    .oNas__container div:nth-of-type(4) {
        order: 4;
    }
    .oNas__imgL {  
        width: 30%;
        float: left;
        padding: 10px;
    }
    .oNas__imgR {  
        width: 30%;
        float: right;
        padding: 10px;
    }
 
    
    .galerie__container {
        grid-template-columns: repeat(6, 1fr);
    }
    .galerie__foto--bigA {
        grid-column: span 1;
        grid-row: span 1;
    }
    .galerie__foto--bigB {
        grid-column: span 2;
        grid-row: span 2;
    }
}